/* Основний колір тексту #757575 */
/* Другий колір тексту #212121 */
/* Третій колір тексту (підвал) rgba(255, 255, 255, 0.6) */

/* Основний колір фона #FFFFFF */
/* Другий колір фона #F5F4FA */
/* Третій колір фона (підвал) #2F303A */

/* Акцент #2196F3 */
/* Кольори Логотипа #2196F3 #000000 */
/* Наведення на Кноопку Герой #188CE8 */

/* Підкреслення (шапка) #ECECEC */
/* Колір Рамки #EEEEEE */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --third-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --second-bg-color: #f5f4fa;
  --third-bg-color: #2f303a;
  --accent-color: #2196f3;
  --hero-buttom-active: #188ce8;

  --margin-items: 30px;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Шапка */

.header {
  border-bottom: 1px solid #ececec;
}

.header-box {
  display: flex;
  align-items: center;
}

/* Лого в шапці */

.header .logo {
  margin-right: 93px;
}

.logo.link {
  display: inline-block;

  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo-part-head {
  color: #000000;
}

/* Навігація */

.nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

/* Комунікаційні посилання */

.com-link {
  display: flex;
  margin-left: auto;
}

.com-link .item + .item {
  margin-left: 50px;
}

.com-link .link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.com-link .link:hover,
.com-link .link:focus {
  color: var(--accent-color);
}

/* Заголовки */

.title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Студія */

/* Герой */

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--third-bg-color);
  text-align: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: var(--margin-items);

  color: var(--primary-bg-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero.button {
  padding: 10px 32px;

  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero.button:hover,
.hero.button:focus {
  background-color: var(--hero-buttom-active);
}

/* Наші переваги (Особливості) */

.section.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-items);
}

.features-item {
  flex-basis: calc((100% - (3 * var(--margin-items))) / 4);
}

.features-subtitle {
  margin-top: 0;
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

/* Чим ми займаємось */

.works-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-items);
}

/* Наша команда */

.team {
  background-color: #f5f4fa;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-items);
  text-align: center;
}

.team-item {
  flex-basis: calc((100% - (3 * var(--margin-items))) / 4);

  background-color: var(--primary-bg-color);
  border-radius: 0 0 4px 4px;
}

.team-item-box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-subtitle {
  margin-bottom: 10px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team p {
  font-size: 16px;
  line-height: 1.19;
}

/* Портфоліо */

/* Фільтр */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
}

.button {
  min-width: 73px;
  padding: 6px 22px;

  color: var(--title-text-color);
  background-color: var(--second-bg-color);

  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;

  cursor: pointer;
  border: 0;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
}

/* Перелік робіт */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--margin-items);
}

.portfolio-item {
  flex-basis: calc((100% - (2 * var(--margin-items))) / 3);

  background-color: #ffffff;
}

.portfolio-item-box {
  padding: 20px 23px 19px 23px;

  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-subtitle {
  margin-bottom: 4px;

  color: var(--title-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
}

/* Підвал */

.footer {
  background-color: var(--third-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Лого в підвалі */

.footer .logo {
  margin-bottom: 20px;
}

.logo-part-foot {
  color: var(--primary-bg-color);
}

/* Адреса */

.address-list > .item + .item {
  margin-top: 9px;
}

.phys-address.link {
  color: var(--primary-bg-color);
  background-color: var(--third-bg-color);
  font-style: normal;
}

.phys-address.link:hover,
.phys-address.link:focus {
  color: var(--accent-color);
}

.address.link {
  color: var(--third-text-color);
  font-style: normal;
}

.address.link:hover,
.address.link:focus {
  color: var(--accent-color);
}
